{% if companyData %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Open</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Close</th>
            </tr>
            </thead>
            <tbody>
            {% for column in companyData %}
                <tr>
                <td>{{ column.Date }}</td>
                <td>{{ column.Open }}</td>
                <td>{{ column.High }}</td>
                <td>{{ column.Low }}</td>
                <td>{{ column.Close }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}