<div class="row">
    <div class="col-sm-6 mx-auto">
        {% set invalidClass = 'is-invalid' %}
        {{ form_start(chartsForm, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <i class="fa fa-calendar"></i> {{ form_label(chartsForm.companySymbol) }}

                    {% set class = 'form-control' %}
                    {% if (form_errors(chartsForm.companySymbol) != '') %}
                        {% set class = class ~ ' is-invalid' %}
                    {% endif %}
                    {{ form_widget(chartsForm.companySymbol, {'attr': {'class': class, 'placeholder':'eg. AEY or Addvantage Technologies Group, Inc.'}}) }}

                    <div class="invalid-feedback">
                        {{ form_errors(chartsForm.companySymbol) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <i class="fa fa-calendar"></i> {{ form_label(chartsForm.startDate) }}

                    {% set class = 'form-control' %}
                    {% if (form_errors(chartsForm.startDate) != '') %}
                        {% set class = class ~ ' is-invalid' %}
                    {% endif %}
                    {{ form_widget(chartsForm.startDate, {'attr': {'class': class }}) }}

                    <div class="invalid-feedback">
                        {{ form_errors(chartsForm.startDate) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <i class="fa fa-calendar"></i> {{ form_label(chartsForm.endDate) }}

                    {% set class = 'form-control' %}
                    {% if (form_errors(chartsForm.endDate) != '') %}
                        {% set class = class ~ ' is-invalid' %}
                    {% endif %}
                    {{ form_widget(chartsForm.endDate, {'attr': {'class': class}}) }}

                    <div class="invalid-feedback">
                        {{ form_errors(chartsForm.endDate) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <i class="fa fa-calendar"></i> {{ form_label(chartsForm.email) }}

                    {% set class = 'form-control' %}
                    {% if (form_errors(chartsForm.email) != '') %}
                        {% set class = class ~ ' is-invalid' %}
                    {% endif %}
                    {{ form_widget(chartsForm.email, {'attr': {'class': class,'placeholder':'youremail@domain.com'}}) }}

                    <div class="invalid-feedback">
                        {{ form_errors(chartsForm.email) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    {{ form_widget(chartsForm.submit, {'attr': {'class': 'btn btn-primary btn-lg btn-block'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(chartsForm) }}
    </div>
</div>