{% if companyData %}
    {% set dates = [] %}
    {% set open = [] %}
    {% set close = [] %}
    {% for column in companyData %}
        {% set dates = dates|merge([column.Date]) %}
        {% set open = open|merge([column.Open]) %}
        {% set close = close|merge([column.Close]) %}
    {% endfor %}
    <div id="canvas-holder1" style="width:100%;">
        <canvas id="chart"></canvas>
    </div>
    <script id="companyLabel" type="application/json">{{ dates|json_encode()|raw }}</script>
    <script id="companyOpen" type="application/json">{{ open|json_encode()|raw }}</script>
    <script id="companyClose" type="application/json">{{ close|json_encode()|raw }}</script>
{% endif %}