{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            {% include 'ChartTheme/views/modules/index/chartForm.html.twig' with chartsForm %}
            {% if (companyData != false) %}
                {% include 'ChartTheme/views/modules/index/chartTable.html.twig' with companyData %}
                {% include 'ChartTheme/views/modules/index/chartGraph.html.twig' with companyData %}
            {% elseif (companyDataErrorMessage != '') %}
                <div class="alert alert-danger" role="alert">
                    {{ companyDataErrorMessage }}
                </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
