<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MX Charts!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('ChartTheme/assets/public/all.min.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body class="bg-light">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.0.js"  crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"  crossorigin="anonymous"></script>
            <script src="{{ asset('ChartTheme/assets/public/all.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
